.note2maincontainer {
    width: 45vw;
    height: 25vh;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 3px 3px 3px 2px rgb(0 0 0 / 10%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    width: 95%;
    height: 30%;
    /* border : solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;

}

.takenote2 {
    width: 95%;
    height: 30%;
    /* border : solid yellow; */
    display: flex;
    justify-content: flex-start;
}

.bottomicon {
    width: 95%;
    height: 30%;
    /* border : solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.note2icon{
    width: 80%;
    height: 95%;
    /* border : solid pink; */
    display: flex;
    align-items: center;
}
.icontext{
    width: 20%;
    height: 95%;
    /* border: solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}